// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// Disable arrows from number input fields
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Scrollbar style */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $text-secondary;
}
